/***********Globel************/
*{
	box-sizing: border-box;
	position: relative;
}
html,body{ 
    font-family: Helvetica, Arial,JhengHei;
}
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}
html{
  width: 100%;
}
body{
	background-image: url(../image/html_bg.png);
}
/***********layout************/
.main{
  text-align: center;	
}
.row{
	margin: 0 auto;
}
.row:after{
	content: "";
	display: block;
	clear: both;
}
.col-1-3{
	width: 33.333%;
	float: left;
}
/**************wrepper****************/
.wrepper{
  margin: 45px auto;
  width: 700px;
  height: 600px;
  background-image: url(../image/main_bg.png);
  border-radius: 30px;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.Hendline{
	text-align: center;
}
.title{
    font-size: 35px;
    color: #fcfcfc;
    font-weight: 450;
    padding-top: 30px;
}
.subtitle{
	font-size: 25px;
    color: #4c4c4c;
    font-weight: 350;
    padding-top: 10px;
}
.content .col-1-3{
	background-image: url(../image/list_bg.png);
	width: 170px;
	height: 430px;
	margin-left: 47px;
	margin-top: 25px;
	border-radius: 30px;
}
.content h3{
    font-size: 20px;
    color: #39b2ef;
    margin-top: 20px;
}
.content p{
	text-align: left;
    font-size: 13px;
    color: #fff;
    margin-right: 10px;
    margin-left: 12px;
    margin-top: 150px;
    line-height: 18px;
    word-spacing: -1px;
}


























